/* Estilos para el encabezado */
header {
    text-align: center;
    font-size: 24px;
    padding: 20px;
    position: relative;
    margin-bottom: 20px;
}

/* Estilos para el botón de perfil */
#profile-button {
    background-color: skyblue;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1;
}

/* Estilos para el contenedor de rutinas*/
.routines-container {
    display: flex;
    flex-direction: column;
    align-items: left;
}

/* Estilos para los días de la semana */
.days {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.day {
    flex: 1;
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

/* Estilo para la línea horizontal */
.black-line {
    border: none;
    border-top: 2px solid black;
    margin: 0;
}

/* Estilos para los días de fin de semana */
.Weekend {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-top: 20px;
}

/* Estilos para el botón de nueva rutina */
.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

#new-routine-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}



/* Aqui inicia el codigo de profile.html*/

/* Estilos para el boton return*/

#return-button {
display: inline-block;
border: none;
padding: 10px 20px;
cursor: pointer;
position: absolute;
top: 20px;
left: 20px;
background-color: skyblue;
}

/* Estilos para el header create account */

#create-account-button {
    display: inline-block;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    background-color: skyblue;
    color: white;
    text-decoration: none;
    text-align: center;
}

/* Estilos para la imagen de create account */

#profile-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
}

/* Estilos para el formulario */

#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#login-form label{
    display: block;
}

#login-form input {
    display: block;
}

/* Estilos para el botón de Start */

#button-container {
    display: flex;
    justify-content: center;
}

#start-button {
    display: inline-block;
    background-color: skyblue;
    color: black;
    margin-top: 20px;
    padding: 15px 30px;
}